@{
    ViewData["Title"] = "Controle de Patrimônios";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Clique <a href="https://github.com/Igormmoreira/ControleDePatrimonios">aqui</a> para acessar o repositório no GitHub.</p>
</div>
